@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@import url('styles/header.css');
@import url('styles/banner.css');
@import url('styles/carossel.css');
@import url('styles/card.css');
@import url('styles/topicos.css');
@import url('styles/novidades.css');
@import url('styles/footer.css');

:root {
  /* cores */
  --backgroud-color: #EBECEE;
  --default: #FFFFFF;
  --primaria: #EB9B00;
  --secundaria: #244E6C;

  /* fontes */
  --fonte-principal: "Poppins";
  --fonte-secundaria: "Josefin Sans";
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--fonte-principal);
  font-weight: 400;
  background-color: var(--backgroud-color);
}