.card {
  display: flex;
  flex-direction: column;
  background-color: var(--default);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1.6rem;
  margin: 1.6rem auto;
  width: 85%;
  gap: 2.4rem;
}

.card__descricao {
  display: flex;
  gap: 0.4rem;
  font-size: 1.4rem;
  justify-content: space-between;
}

.descricao__titulo {
  color: var(--primaria);
  font-size: 1.6rem;
  font-weight: 700;
}

.descricao__titulo_livro {
  color: var(--secundaria);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botoes {
  display: flex;
  align-items: center;
}

.botao__saiba_mais {
  background-color: var(--primaria);
  color: var(--default);
  padding: 1.5rem 3.5rem;
  font-weight: 700;
}

.mb-9 {
  margin-bottom: 0.9rem;
}

@media screen and (min-width: 1024px) {
  .card {
    width: 90vw;
  }
}

@media screen and (min-width: 1728px) {
  .descricao__titulo {
    font-size: 3.2rem;
  }

  .descricao__texto {
    font-size: 1.6rem;
  }
}